html {
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  text-align: center;
}

.container {
  font-size: 1.2rem;
}
.setup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}

.setup-input-child {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: -5px;
  }

  p {
    font-size: 1.6rem;
  }
}

.input-control {
  margin-top: -5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.add-button, .reduce-button {
  border-radius: 50%;
  background-color:cornflowerblue;
  padding: 5px 15px;
}

.reduce-button {
  background-color: darkred;
  animation-duration: 10ms;
}

.interactable:hover {
  opacity: 0.7;
  cursor: pointer;
}

.interactable:active {
  opacity: 0.5;
}

.tomato-img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: -20px;
  margin-top: 20px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  font-weight: 200;
}

.timer-buttons {
  padding: 10px;

  button {
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    height: 25px;
  }
}
